<h1>Invoice <%= @invoice.id %></h1>
<h4>Total Revenue: <%= @invoice.total_revenue %></h4>
<h4>Total Revenue Including Discounts: <%= @invoice.total_discounted_revenue %></h4>


<div id="status-select">
  <h4>Status: <%= @invoice.status %></h4>
  <%= form_with url: "/admin/invoices/#{@invoice.id}", method: :patch, local: true do |form| %>
    <%= form.select :status, ['in progress', 'cancelled', 'completed'], selected: @invoice.status %>
    <%= form.submit "Update Invoice Status" %>
  <% end %>
</div>

<br>
<p>Customer: <%= @invoice.customer.first_name %> <%= @invoice.customer.last_name %></p>
<p>Customer ID: <%= @invoice.customer_id %></p>
<p>Created on: <%= @invoice.created_at.strftime("%A, %B %d %Y") %></p>
<br>

<h2>Items on this invoice:</h2>
<% @invoice.invoice_items.each do |invitem| %>
<div id="<%= invitem.item_id %>">
  <p>Name: <%=invitem.item.name %></p>
  <p>Quantity: <%=invitem.quantity %></p>
  <p>Price sold at: <%=invitem.unit_price %></p>
  <% if invitem.find_discount_id.class == Integer %>
    <p>Discounts applied to this item: <%= link_to "Discount #{invitem.find_discount_id}", merchant_bulk_discount_path(invitem.item.merchant.id, invitem.find_discount_id), method: :get%></p>
    <% else %>
    <p><%= "#{invitem.find_discount_id}" %></p>
  <% end %>
<% end %>
